body {
    background-color: #00FA9A;
    margin: 20%;
    text-align: center;
}

#img-div {
    display: flex;
    justify-content: center;
}
 img {
            width: 50%;
     }
     #main
     {
         text-align: center;
     }
#caption {
        font-size: 17px;
        font-family: Gill Sans;
        color: black;
        }
div#tribute-data {
            background-color: rgb(46, 139, 87, 0.25);
            box-shadow: 20px 20px 20px #98FB98;
            font-family: Georgia;
            padding: 25px 25px;
            margin: 11px;
            margin-top: 50px;
                }
div#tribute-data {
            background-color: rgb(46, 139, 87, 0.25);
            box-shadow: 20px 20px 20px #98FB98;
            font-family: Georgia;
            padding: 25px 25px;
            margin: 11px;
            margin-top: 50px;
                }
                #tribute-link {
                    text-decoration: none;
                    color: black;
                }